<h2 class="text-center">Edit Task: {{ task.name }}</h2>

<div class="table">
<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
  <mat-form-field>
    <input
      matInput
      formControlName="name"
      placeholder="Nazwa"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="kanban">
      <mat-option *ngFor="let value of enumValues" [value]="value">
        {{ value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    class="button"
    type="submit"
  >
    Save
  </button>
</form>
</div>